In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re

In [3]:
data=pd.read_csv(r"C:\\Users\\amarn\\AMAR WEB SCRAPING PROJECT\\ALL_OYO_RAW_DATA.csv")

In [4]:
data

,Unnamed: 0,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,0,Flagship Malkajgiri,Malkajgiri,['Hyderabad'],['4.3'],['2269'],₹699,Parking facility Reception Free Wifi
1,1,OYO Flagship Hotel Lavish Stay,New Santoshnagar,['Hyderabad'],['4.3'],['23'],₹582,Free Wifi Geyser Power backup
2,2,OYO Flagship Hotel Shazeb International,Telangana,['Hyderabad'],['3.7'],['17'],₹699,Elevator Free Wifi Geyser
3,3,Collection O Hotel Rbs Kothapet-nagole Road,NaN,['Hyderabad'],['5.0'],['7'],₹699,Elevator Free Wifi Geyser
4,4,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,"['Hyderabad', 'Hyderabad']",['3.9'],['98'],₹699,Free Wifi Geyser Power backup
...,...,...,...,...,...,...,...,...
357,357,Collection O 815331 Hotel Galaxy Shelter,Prabhadevi. Appasaheb Marathe Marg,['Mumbai'],['3.6'],['10'],₹3902,Elevator Free Wifi Geyser
358,358,Capital O Hotel Pearl Near US Embassy,"Near Wajan Kata Bus Stop, Indira Nagar",['Mumbai'],['3.3'],['160'],₹2896,Free Wifi CCTV cameras Card payment
359,359,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,['Mumbai'],['3.6'],['494'],₹3773,Parking facility Free Wifi Power backup
360,360,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",['Mumbai'],['3.1'],['254'],NaN,Free Wifi
361,361,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,['Mumbai'],['3.1'],['191'],NaN,Free Wifi Geyser Power backup

In [5]:
data.drop('Unnamed: 0',axis=1,inplace=True) # drop "Unnamed: 0" columns from axis=1

In [6]:
data

,Hotel_Names,Address,City,Ratings,Votes,Prices,Features
0,Flagship Malkajgiri,Malkajgiri,['Hyderabad'],['4.3'],['2269'],₹699,Parking facility Reception Free Wifi
1,OYO Flagship Hotel Lavish Stay,New Santoshnagar,['Hyderabad'],['4.3'],['23'],₹582,Free Wifi Geyser Power backup
2,OYO Flagship Hotel Shazeb International,Telangana,['Hyderabad'],['3.7'],['17'],₹699,Elevator Free Wifi Geyser
3,Collection O Hotel Rbs Kothapet-nagole Road,NaN,['Hyderabad'],['5.0'],['7'],₹699,Elevator Free Wifi Geyser
4,OYO Flagship 80983G RBS Square Langer Houz,Hyderabad,"['Hyderabad', 'Hyderabad']",['3.9'],['98'],₹699,Free Wifi Geyser Power backup
...,...,...,...,...,...,...,...
357,Collection O 815331 Hotel Galaxy Shelter,Prabhadevi. Appasaheb Marathe Marg,['Mumbai'],['3.6'],['10'],₹3902,Elevator Free Wifi Geyser
358,Capital O Hotel Pearl Near US Embassy,"Near Wajan Kata Bus Stop, Indira Nagar",['Mumbai'],['3.3'],['160'],₹2896,Free Wifi CCTV cameras Card payment
359,OYO Townhouse 810 Royal Palms Hotel - Daisy Co...,Goregaon,['Mumbai'],['3.6'],['494'],₹3773,Parking facility Free Wifi Power backup
360,OYO Hotel Ak Palace Near Chhatrapati Shivaji I...,"On main street, Near Asalpha Metro Station, Sa...",['Mumbai'],['3.1'],['254'],NaN,Free Wifi
361,OYO Flagship Raj Hotel Near Juhu Beach,Santacruz,['Mumbai'],['3.1'],['191'],NaN,Free Wifi Geyser Power backup

In [16]:
l=[]
for i in data["City"]:
    a=str(i).strip("[]")
    l.append(a)
data["City"]=l

In [18]:
data["City"].value_counts()

'Hyderabad'                     86
'Bangalore'                     85
'Delhi'                         75
'Mumbai'                        49
                                18
'Delhi', 'Delhi'                18
'Bangalore', 'Bangalore'        13
'Hyderabad', 'Hyderabad'        11
'Mumbai', 'Mumbai'               6
'Mumbai', 'Mumbai', 'Mumbai'     1
Name: City, dtype: int64

In [22]:
data['City']=data['City'].apply(lambda x:x.replace("'",""))
data['City']=data['City'].apply(lambda x:x.replace(", Hyderabad",""))
data['City']=data['City'].apply(lambda x:x.replace("'",""))
data['City']=data['City'].apply(lambda x:x.replace(", Bangalore",""))
data['City']=data['City'].apply(lambda x:x.replace("'",""))
data['City']=data['City'].apply(lambda x:x.replace(", Delhi",""))
data['City']=data['City'].apply(lambda x:x.replace("'",""))
data['City']=data['City'].apply(lambda x:x.replace(", Mumbai",""))

In [30]:
data["City"].value_counts()

Hyderabad    115
Bangalore     98
Delhi         93
Mumbai        56
Name: City, dtype: int64

In [31]:
data = data.replace(r'^\s*$', 'Hyderabad', regex=True)

In [32]:
data["City"].value_counts()

Hyderabad    115
Bangalore     98
Delhi         93
Mumbai        56
Name: City, dtype: int64